div.content {
	margin: 10px auto;
	overflow: hidden;
	text-align: center;
}

div.formulari {
	min-height: 60px;
	min-width: 300px;
	margin: 10px 10px auto;
	text-align: left;
	display: table;
}

div.entrada-formulari {
	position: relative;
	top: 10px;
	min-height: 60px;
	min-width: 300px;
	clear: both;
	margin-top: auto;
}

div.entrada-nom {
	display: inline-block;
	position: relative;
	float: left;
	overflow: auto;
	min-width: 1px;
	min-height: 1px;
	overflow: hidden;
}

div.entrada-pista {
	display: inline-block;
	position: relative;
	text-align: left;
	min-width: 1px;
	min-height: 1px;
}

span.entrada-error-novisible{
	display: none;
}

span.entrada-error {
	position: static;
}


.entrada-error {
	display: block;
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0 0 0 8px;
	padding: 4px 8px 5px;
	min-width: 140px;
	line-height: 18px;
	font-size: 11px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.8);
	background: #33373c;
	background-clip: padding-box;
	border: 1px solid #111;
	border-bottom-color: black;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.07),
		rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.07),
		rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.07),
		rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.07),
		rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px
		rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px
		rgba(0, 0, 0, 0.15);
	border-right-color: #8d2e2b;
	background-color: #8d2e2b;
}


.entrada-error:before,.entrada-error:after {
	content: '';
	position: absolute;
	vertical-align: middle;
	left: 0;
	margin: -4px 0 0 -4px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 4px 4px 4px 0;
	border-right-color: #33373c;
}

div#passwordMatch {
	display: inline-block;
}

.entrada-ok {
	display: block;
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0 0 0 8px;
	padding: 4px 8px 5px;
	min-width: 140px;
	line-height: 18px;
	font-size: 11px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.8);
	background: #33373c;
	background-clip: padding-box;
	border: 1px solid #111;
	border-bottom-color: black;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.07),
		rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.07),
		rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.07),
		rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.07),
		rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.2));
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px
		rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px
		rgba(0, 0, 0, 0.15);
	border-right-color: #396330;
	background-color: #396330;
}

.entrada-ok:before,.entrada-ok:after {
	content: '';
	position: absolute;
	vertical-align: middle;
	left: 0;
	margin: -4px 0 0 -4px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 4px 4px 4px 0;
	border-right-color: #396330;
}


